<%= form_with(model: workshop, local: true, html: { class: "ui large form" }) do |form| %>
  <div class="ui stacked segment">
  <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :semester_id, "Semestre" %>
    <%= form.collection_select :semester_id, @semesters, :id, :identifier %> 
  </div> 

  <div class="field">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "Descripción" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :schedule, "Horario" %>
    <%= form.text_area :schedule %>
  </div>

  <div class="field">
    <%= form.label :quotas, "Cupos" %>
    <%= form.number_field :quotas %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", class: "ui fluid large submit green button" %>
  </div>
<% end %>
