<h1 class="ui header">Talleres</h1>

<section class="ui segment">
  <%= form_tag(workshops_url, method: :get, class: "ui form") do %>
    <h4 class="ui dividing header">Filtro por Semestre:</h4>
    <div class="fields">
      <div class="twelve wide field">    
        <%= collection_select nil, :semester_id, @semesters, :id, :identifier, selected: params[:semester_id], include_blank: "Selecciona un semestre..." %>
      </div>
      <div class="four wide field">
        <%= submit_tag "Filtrar", class: "fluid ui button" %>
      </div>
    </div>
  <% end %>
</section>

<% if @workshops %>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Mentor</th>
        <th>Descripción</th>
        <th>Horario</th>
        <th>Cupos</th>
        <% if mentor_signed_in? or student_signed_in? %> 
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @workshops.each do |workshop| %>
        <tr>
          <td><%= workshop.title %></td>
          <td><%= workshop.mentor.full_name %></td>
          <td><%= workshop.description %></td>
          <td><%= workshop.schedule %></td>
          <td><%= workshop.quotas %></td>
          <% if mentor_signed_in? and current_mentor == workshop.mentor %>
            <td>
              <div class="ui three buttons">
                <%= link_to 'Ver', workshop, class: "ui green button" %>
                <%= link_to 'Editar', edit_workshop_path(workshop), class: "ui yellow button" %>
                <%= link_to 'Borrar', workshop, method: :delete, data: { confirm: '¿Estás segura/o?' }, class: "ui red button" %>
              </div>
            </td>
          <% elsif mentor_signed_in? or student_signed_in? %>
            <td>
              <div class="ui buttons">
                <%= link_to 'Ver', workshop, class: "ui gren button" %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>