<h1 class="ui header">
  <i class="book icon"></i>
  <div class="content">
    <%= @workshop.title %>
    <div class="sub header">
      Dictado por: <%= @workshop.mentor.full_name %>
    </div>
    <div class="sub header">
      Semestre: <%= @workshop.semester.identifier %>
    </div>
  </div>
</h1>

<div class="ui three cards">
  <div class="card">
    <div class="content">
      <div class="header">Descripción del taller</div>
      <div class="description">
        <p><%= @workshop.description %></p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">Horario</div>
      <div class="description">
        <p><%= @workshop.schedule %></p>
      </div>
    </div>
    <div class="extra content">
      <div class="header">Cupos</div>
      <div class="description">
        <p><%= @workshop.quotas %>. <%= @quotas %> disponible(s).</p>
      </div>
    </div>
  </div>

  <div class="ui card">
    <div class="content">
      <div class="header"><%= @mentor.full_name %></div>
      <div class="meta">Mentor</div>
      <div class="description">
        <p><strong>Especialidad:</strong> <%= @mentor.specialty %></p>
        <p><strong>Motivación:</strong> <%= @mentor.motivation %></p>
      </div>
    </div>
  </div>
</div>


<% if not @topics.map{|t| can? :read, t}.include?(false) and not @materials.map{|m| can? :read, m}.include?(false) %>
  <div class="ui two horizontal segments">
    <div class="ui segment">
      <h4 class="ui header">
        Ultimos 5 Topicos
      </h4>
      <% if @topics.any? %>
        <div class="ui relaxed divided list">
          <% @topics.each do |topic| %>
            <div class="item">
              <i class="large middle aligned comment alternate outline icon"></i>
              <div class="content">
                <a class="header"><%= link_to topic.title, [@workshop, topic] %></a>
                <div class="description">Por <%= topic.student.full_name %> el <%= topic.created_at.strftime("%d/%m/%Y a las %H:%M") %></div>
              </div>
            </div>
            <div class="item">
              <%= link_to "Ver todos los Tópicos", workshop_topics_url(@workshop), class: "ui fluid orange button" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No existe ningún tópico para este taller.</p>
      <% end %>
    </div>
    <div class="ui segment">
      <h4 class="ui header">
        Últimos 5 Materiales
      </h4>
      <% if @materials.any? %>
        <div class="ui relaxed divided list">
          <% @materials.each do |material| %>
            <div class="item">
              <i class="large middle aligned file outline icon"></i>
              <div class="content">
                <a class="header"><%= link_to material.title, [@workshop, material] %></a>
                <div class="description"><%= material.created_at.strftime("%d/%m/%Y %H:%M") %></div>
              </div>
            </div>
          <% end %>
          <div class="item">
            <%= link_to "Ver Todos los Materiales", workshop_materials_url(@workshop), class: "ui fluid orange button" %>
          </div>
        </div>
      <% else %>
        <p>No existe ningún tópico para este taller.</p>
      <% end %>
    </div>
  </div>
<% elsif student_signed_in? and can? :create, Enrollment and @quotas > 0 %>
  <div class="ui orange segment">
    <h4 class="ui header">Inscripción de Taller</h4>
    <p>Existe(n) <%= @quotas %> cupo(s) disponible(s). ¿Deseas inscribir este curso?</p>
    <%= form_with(model: @enrollment, local: true) do |f| %>
      <%= f.hidden_field :workshop_id, value: @workshop.id %>
      <%= f.hidden_field :student_id, value: current_student.id %>
      <%= f.submit "Inscribir Curso", class: "ui fluid orange button", data: { confirm: "¿Estas segura/o que deseas inscribir este curso?" } %>
    <% end %>
  </div>
<% end %>