<div class="ui middle aligned center aligned two column grid">
  <div class="column">
    <h2 class="ui green image header">
      <%= image_tag "logo.png", class: "image" %>
      <div class="content">
        ¿Olvidaste tu contraseña?
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui large form" }) do |f| %> 
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: "Correo Electrónico", autocomplete: "email" %>
          </div>
        </div>
        <%= f.submit "Enviar instrucciones de recuperación", class: "ui fluid large submit green button" %>
      </div>

      <div class="ui error message">
        <%= devise_error_messages! %>
      </div>

    <% end %>

    <div class="ui message">
      <%= render "students/shared/links" %>
    </div>
  </div>
</div>