<%= form_with(model: [@workshop, topic], local: true, html: { class: "ui large form" }) do |form| %>
  <div class="ui stacked segment">
    <% if topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

        <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, "Título" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :description, "Descripción (Mensaje Inicial)" %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit "Aceptar", class: "ui fluid large submit green button" %>
    </div>
  </div>
<% end %>
