<div class="ui middle aligned center aligned two column grid">
  <div class="column">
    <h2 class="ui green image header">
      <%= image_tag "logo.png", class: "image" %>
      <div class="content">
        Registrarse como Mentor
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui large form" }) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <%= f.label :institution_id, "Institución" %>
          <%= f.collection_select :institution_id, Institution.all, :id, :name, include_blank: "Selecciona la institución a la que perteneces..." %>
        </div>

        <div class="field">
          <%= f.label :first_name, "Nombre(s)" %>
          <%= f.text_field :first_name , placeholder: "Primer Nombre (Opcional: Segundo Nombre)"%>
        </div>

        <div class="field">
          <%= f.label :last_name, "Apellido(s)" %>
          <%= f.text_field :last_name, placeholder: "Primer Apellido (Opcional: Segundo Apellido)" %>
        </div>

        <div class="field">
          <%= f.label :rut, "RUN" %>
          <%= f.text_field :rut, placeholder: "Ejemplo: 12.345.678-k" %>
        </div>

        <div class="field">
          <%= f.label :address, "Dirección" %>
          <%= f.text_field :address, placeholder: "Nombre de la Calle, Numeracion y Comuna" %>
        </div>

        <div class="field">
          <%= f.label :phone, "Teléfono" %>
          <%= f.text_field :phone, placeholder: "Ejemplo: +56 123 456 78" %>
        </div>

        <div class="field">
          <%= f.label :specialty, "Especialidad" %>
          <%= f.text_area :specialty, placeholder: "Indique el area que desea enseñar." %>
        </div>

        <div class="field">
          <%= f.label :motivation, "Motivación" %>
          <%= f.text_area :motivation, placeholder: "Indique la razon de porque quiere ser Mentor y participar en esta plataforma." %>
        </div>

        <div class="field">
          <%= f.label :email, "Correo Electrónico" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "nombreCorreo@institucion.cl" %>
        </div>

        <div class="field">
          <%= f.label :password, "Contraseña" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Ingrese su Nueva Contraseña" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirma tu Contraseña" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "Repita la Contraseña"%>
        </div>
        <%= f.submit "Registrarse", class: "ui fluid large submit green button" %>
      </div>

      <div class="ui error message">
        <%= devise_error_messages! %>
      </div>

    <% end %>

    <div class="ui message">
      <%= render "mentors/shared/links" %>
    </div>
  </div>
</div>
