<h1 class="ui header">
  <i class="comment alternate outline icon"></i>
  <div class="content">
    Materiales
    <div class="sub header">
      <%= @workshop.title %>
    </div>
  </div>
</h1>

<div class="ui segment">
  <div class="ui relaxed divided list">
    <% if can? :create, Material %>
      <div class="item">
        <%= link_to "Subir un Nuevo Material", new_workshop_material_url(@workshop), class: "ui fluid orange button" %>
      </div>
    <% end %>
    <% if @materials.any? %>
      <% @materials.each do |material| %>
        <div class="item">
          <i class="large middle aligned file outline icon"></i>
          <div class="content">
            <div class="header">
              <%= material.title %>
            </div>
            <div class="description">
              Subido el <%= material.created_at.strftime("%d/%m/%Y a las %H:%M") %>
            </div>
            <div class="description">
              <div class="ui buttons">
                <% if material.file.attached? %>
                  <%= link_to "Descargar", url_for(material.file), class: "ui green button" %>
                <% end %>
                <% if can? :destroy, material %>
                  <%= link_to "Borrar Material", [@workshop, material], method: :delete, class: "ui red button", data: { confirm: "¿Estás segura/o de que quieres eliminar este material? Esta acción no se puede deshacer."} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="item">
        <div class="content">
          <p>No existe ningún material para este taller.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>