<!DOCTYPE html>
<html>
  <head>
    <title>Mastershare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <li><%= link_to "Talleres", workshops_url %></li>
        <% if mentor_signed_in? %>
          <li>Hola! <%= current_mentor.full_name %></li>
          <li><%= link_to "Cerrar Sesión Mentor", destroy_mentor_session_url, method: :delete %></li>
        <% elsif student_signed_in? %>
          <li>Hola! <%= current_student.full_name %></li>
          <li><%= link_to "Cerrar Sesión Alumno", destroy_student_session_url, method: :delete %></li>
        <% else %>
          <li><%= link_to "Inicia Sesión como Mentor", new_mentor_session_url %></li>
          <li><%= link_to "Inicia Sesión como Alumno", new_student_session_url %></li>
          <li><%= link_to "Regístrate como Mentor", new_mentor_registration_url %></li>
          <li><%= link_to "Regístrate como Alumno", new_student_registration_url %></li>
        <% end %>
      </nav>
    </header>
    <content>
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% elsif alert %>
        <p id="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </content>
  </body>
</html>
