<!DOCTYPE html>
<html>
  <head>
    <title>Mastershare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <li><%= link_to "Inicia Sesión como Mentor", new_mentor_session_url %></li>
        <li><%= link_to "Inicia Sesión como Alumno", new_student_session_url %></li>
        <li><%= link_to "Regístrate como Mentor", new_mentor_registration_url %></li>
        <li><%= link_to "Regpistrate como Alumno", new_student_registration_url %></li>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
